<%= simple_form_for(@setting, url: manager_setting_path(@setting.var), method: 'patch', remote: true) do |f| %>
  <%= f.label @field_name %>

  <% if @field_type == "text" %>
    <%= f.input :value, label: false, as: :text %>
  <% elsif @field_type == "select" %>
    <%= f.input :value, label: false, collection: @setting.value %>
  <% else %>
    <%= f.input :value, label: false, as: :string %>
  <% end %>
  <%= f.button :submit, "Save Setting", class: "btn btn-success" %>
  <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
<% end %>
