<% page_title "Search Ticket Details" %>


<div class="p-3 bg-white rounded box-shadow">
  <h3 class="border-bottom border-gray pb-2 mb-0"><%= @ticket.id %>: <%= @ticket.item_title %></h3>
  <div class="container">
    <br/>
    <dl class="row">
      <div class="col">
        <dt class="text-muted font-weight-light">Callnumber</dt>
        <dd><%= @ticket.item_callnumber %></dd>
        <dt class="text-muted font-weight-light">Author:</dt>
        <dd><%= @ticket.item_author %></dd>
        <hr/>
        <dt class="text-muted font-weight-light fs-80">Created On</dt>
        <dd class="fs-90"><%= @ticket.created_at.strftime("%Y-%m-%d") %></dd>
      </div>
      <div class="col">
        <dt class="text-muted font-weight-light">Volume</dt>
        <dd><%= @ticket.item_volume %></dd>
        <dt class="text-muted font-weight-light">Issue</dt>
        <dd><%= @ticket.item_issue %></dd>
        <hr/>
        <dt class="text-muted font-weight-light fs-80">Last Updated</dt>
        <dd class="fs-90"><%= @ticket.last_updated.strftime("%Y-%m-%d") rescue nil%></dd>
      </div>
      <div class="col">
        <dt class="text-muted font-weight-light">Year</dt>
        <dd><%= @ticket.item_year %></dd>
        <dt class="text-muted font-weight-light">Item Location</dt>
        <dd><%= @ticket.location.name %></dd>
        <hr/>
        <dt class="text-muted font-weight-light fs-80">Requested By</dt>
        <dd class="fs-90"><%= @ticket.patron_name %></dd>
      </div>
    </dl> <!-- dl row end -->
  </div>
</div>

<br/>
<div class="p-3 mb-2 bg-status-<%= @ticket.status %> text-center">
  <span class="text-uppercase mb-1 d-inline-flex p-2 border border-white"><%= @ticket.status.humanize %></span>
  <br/>
  <span class="font-weight-light">
    This search ticket is assigned to <span class="font-weight-normal fs-120"><%= @ticket.assigned_to_name %></span>.
  </span>
</div>

<% if @ticket.status == SearchTicket::STATUS_SEARCH_IN_PROGRESS %>
  <br/>
  <%= render partial: "log_search_result_form" %>
<% elsif @ticket.status == SearchTicket::STATUS_ESCALATED_TO_LEVEL_2 %>
  <br/>
  <div class="text-center">
    This search ticket is <%= SearchTicket::STATUS_ESCALATED_TO_LEVEL_2.humanize.upcase %>. To assign this to yourself, click this button.
    <a href="<%= sl2_start_search_path(search_ticket_ids: @ticket.id) %>" data-method="put" class='btn btn-primary btn-sm'>Assign To Myself</a>
  </div>
<% end %>

<br/>


<%= render partial: "search_history" %>
