<table>
  <tr>
    <th>Title</th>
    <th>Call Number & Item ID</th>
    <th>Work Logs</th>
    <th>Resolution</th>
  </tr>
  <% @tickets.each do |ticket| %>
    <tr>
      <td><%= ticket.item_title %></td>
      <td>
        <%= ticket.item_callnumber %><br/>
        <small><%= ticket.item_id %></small>
      </td>
      <td><%= ticket.work_logs.size %></td>

      <td>
        <%= ticket.resolution.upcase %>
          <a href="<%= sl1_search_ticket_path(ticket) %>" class="btn btn-sm btn-outline-dark">i</a>
      </td>
    </tr>

  <% end %>

</table>
