<table class="table table-xsm">
  <thead class="thead-light">
    <tr>
      <th>Title</th>
      <th>Call Number</th>
      <th>Item ID</th>
      <th class="text-center"># of Searches</th>
      <th></th>
    </tr>
  </thead>
  <% @tickets.each do |ticket| %>
    <tr>
      <td><%= ticket.item_title %></td>
      <td>
        <%= ticket.item_callnumber %>
      </td>
      <td><%= ticket.item_id %></td>
      <td class="text-center"><%= ticket.search_attempts.size %></td>
      <td>
        <% if ticket.assigned_to %>
          <%= ticket.assigned_to.name %>
        <% else %>
        <% end %>
      </td>
    </tr>
  <% end %>

</table>
