<table>
  <tr>
    <th>Title</th>
    <th>Call Number & Item ID</th>
    <th>Search Attempts</th>
    <th>Resolution</th>
  </tr>
  <% @tickets.each do |ticket| %>
    <tr>
      <td><%= ticket.item_title %></td>
      <td>
        <%= ticket.item_callnumber %><br/>
        <small><%= ticket.item_id %></small>
      </td>
      <td><%= ticket.search_attempts.size %></td>

      <td>
        <%= ticket.resolution.upcase %>
      </td>
    </tr>

  <% end %>

</table>
