<h5 class="card-title"><%= @ticket.item_title %></h5>
<hr/>
<dl class="row">
 <dt class="col-sm-3">Callnumber</dt>
 <dd class="col-sm-9"><%= @ticket.item_callnumber %></dd>

 <dt class="col-sm-3">Author</dt>
 <dd class="col-sm-9"><%= @ticket.item_author %></dd>

 <dt class="col-sm-3">Volume</dt>
 <dd class="col-sm-9"><%= @ticket.item_volume %></dd>

 <dt class="col-sm-3">Issue</dt>
 <dd class="col-sm-9"><%= @ticket.item_issue %></dd>

 <dt class="col-sm-3">Year</dt>
 <dd class="col-sm-9"><%= @ticket.item_year %></dd>

 <dt class="col-sm-3">Item Location</dt>
 <dd class="col-sm-9"><%= @ticket.location_name %></dd>

 <dt class="col-sm-3">Item ID</dt>
 <dd class="col-sm-9"><%= @ticket.item_id %></dd>
</dl>
