<% page_title "Request Help Searching For things" %>


<div class="card">
  <div class="card-header">
    <span>Request Help Finding This Book</span>
    <span class="badge badge-success float-right text-uppercase"><%= @patron.name %></span>
  </div>
  <div class="card-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat ut neque ac volutpat. Aliquam fermentum, est ut interdum maximus, ligula arcu faucibus risus, id luctus lectus lectus nec nisi. Mauris ut viverra lorem, non cursus neque. Curabitur feugiat lacus eu ipsum convallis, id gravida ipsum fringilla. Mauris laoreet neque quis suscipit bibendum. Ut sapien diam, ullamcorper et nibh in, pretium lobortis eros. In hac habitasse platea dictumst. Phasellus nibh neque, vehicula sit amet efficitur in, molestie ac quam. Phasellus ut nisl gravida, mollis orci eu, facilisis ex. Fusce non est et nunc iaculis maximus. Donec erat augue, efficitur vel egestas vitae, ultrices tincidunt ipsum. Etiam dictum purus vitae tellus mollis pulvinar sed et mauris. Duis et mattis sapien. Cras et urna rhoncus, convallis risus eu, tincidunt lorem. In mollis felis augue, sodales tincidunt lacus ullamcorper nec. Quisque maximus, lectus et mollis euismod, sapien leo pulvinar magna, quis efficitur sem orci in mauris.
    </p>
    <hr/>

    <%= render partial: "ticket_details" %>

    <hr/>

    <%= simple_form_for @ticket, url: patron_request_search_index_path do |f| %>
      <%= f.input :item_title, as: :hidden %>
      <%= f.input :item_id, as: :hidden %>
      <%= f.input :item_author, as: :hidden %>
      <%= f.input :item_callnumber, as: :hidden %>
      <%= f.input :item_volume, as: :hidden %>
      <%= f.input :item_issue, as: :hidden %>
      <%= f.input :item_year, as: :hidden %>
      <%= f.input :location_id, as: :hidden %>
      <%= f.input :patron_id, as: :hidden %>


        <%= f.fields_for  @patron do |pf| %>
          <%= pf.input :name %>
          <%= pf.input :email %>
          <%= pf.input :id, as: :hidden %>          
        <% end %>


      <%= f.button :submit, class: "btn btn-success" %>

    <% end %>

  </div>
  <div class="card-footer text-muted">
    Today is
    <span class="timeago" title="<%= Date.today.iso8601 %>">
       <%= Date.today %>
    </span>
  </div>
</div>
