<%= form_with(model: [:admin, location], local: true) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :location_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :location_address %>
  </div>

  <div class="field">
    <%= form.label :ils_code %>
    <%= form.text_field :ils_code, id: :location_ils_code %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :location_email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :location_phone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
