<p id="notice"><%= notice %></p>

<h1>Locations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Default Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td><%= location.address %></td>
        <td><%= location.email %></td>
        <td><%= location.phone %></td>
        <td><%= location.default_location %></td>
        <td><%= link_to 'Show', [:admin, location] %></td>
        <td><%= link_to 'Edit', edit_admin_location_path(location) %></td>
        <td><%= link_to 'Destroy', [:admin, location], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_admin_location_path %>
