<% page_title "#{@location.class} Details" %>
<%= bootstrap_card do %>
  <%= bootstrap_card_body title: (defined?(@location.name)) ? @location.name : "Untitled Card" do %>
    <div class="card-subtitle mb-0 text-muted">
      <small>Location Subtitle</small>
    </div>
    <hr/>

    <div class="row">
      <div class="col-md-12">
  
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
              <div class="font-weight-bold">Name</div>
              <%= @location.name %>
            </div>
          </li>          
          <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
              <div class="font-weight-bold">Address</div>
              <%= @location.address %>
            </div>
          </li>          
          <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
              <div class="font-weight-bold">Email</div>
              <%= @location.email %>
            </div>
          </li>          
          <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
              <div class="font-weight-bold">Phone</div>
              <%= @location.phone %>
            </div>
          </li>          
          <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
              <div class="font-weight-bold">Ils code</div>
              <%= @location.ils_code %>
            </div>
          </li>          
        
          <li class="list-group-item">
            <%= link_to 'Make Changes', edit_admin_location_path(@location), class: 'btn btn-sm btn-primary' %>             
          </li>
        
        </ul>
        
      </div>
    </div>
  <% end %> <!-- card-body-->
<% end %> <!-- card -->
