<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>


<p>
  <strong>ILS CODE:</strong>
  <%= @location.ils_code %>
</p>


<p>
  <strong>Email:</strong>
  <%= @location.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @location.phone %>
</p>

<p>
  <strong>Default Location:</strong>
  <%= @location.default_location %>
</p>

<%= link_to 'Edit', edit_admin_location_path(@location) %> |
<%= link_to 'Back', admin_locations_path %>
