<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :employee_name %>
  </div>

  <div class="field">
    <%= form.label :role %>
    <%= form.text_field :role, id: :employee_role %>
  </div>

  <div class="field">
    <%= form.label :login_id %>
    <%= form.text_field :login_id, id: :employee_login_id %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :employee_email %>
  </div>

  <div class="field">
    <%= form.label :location_id %>
    <%= form.number_field :location_id, id: :employee_location_id %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active, id: :employee_active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
