<div class="p-3 bg-white rounded box-shadow">
  <h5 class="border-bottom border-gray pb-2 mb-0">Assigned To Me
    &nbsp;&nbsp;<%= link_to "Print Tickets", print_tickets_to_search_path(ticket_ids: @assigned_tickets.ids),
      class: "btn btn-sm btn-light fs-60i border" %>

    <span class="bg-status-<%= SearchTicket::STATUS_SEARCH_IN_PROGRESS %> rounded text-white p-1 fs-70 float-right">
      <%= SearchTicket::STATUS_SEARCH_IN_PROGRESS.humanize %>
        <span class="badge badge-light" data-assigned-tickets-count="<%= @assigned_tickets.size %>">
          <%= @assigned_tickets.size %>
        </span>
    </span>
  </h5>

  <div class="container">
    <% if @assigned_tickets.size == 0 %>
      <p class="text-center mt-3">There are no tickets assigend to you at this moment.</p>
    <% end %>

    <% @assigned_tickets.each do |ticket| %>
      <div class="row pb-3 mb-0 pt-3 lh-125 border-bottom border-gray assigned_ticket_row">
        <div class="col-sm-7">
            <a href="<%= sl2_search_ticket_path(ticket) %>"><%= ticket.item_title %></a>
        </div>
        <div class="col-sm-2  text-center fs-90">
          <small class="font-weight-light text-muted">Callnumber</small><br/>
          <%= ticket.item_callnumber %>
        </div>
        <div class="col-sm-2  text-center fs-90">
          <small class="font-weight-light text-muted ">Last Updated</small><br/>
          <%= ticket.last_updated.strftime("%b %e, %Y") rescue nil%>
        </div>
        <div class="col-sm-1   text-center fs-90">
          <small class="font-weight-light text-muted">ID:   </small><br/>
          <%= ticket.id %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<hr/>
