
<div class="p-3 bg-white rounded box-shadow">
  <h5 class="border-bottom border-gray pb-2 mb-0">Recently Escalated Tickets
    <span class="badge badge-<%= SearchTicket::STATUS_ESCALATED_TO_LEVEL_2 %> float-right">
      <%= SearchTicket::STATUS_ESCALATED_TO_LEVEL_2.humanize %>:
      <%= @escalated_tickets.size %>
    </span>
  </h5>

  <div class="container">
    <%= form_tag sl2_start_search_path, method: :patch do %>
    <% @escalated_tickets.each do |ticket| %>
      <div class="row pb-3 mb-0 pt-3 lh-125 border-bottom border-gray">
        <div class="col-sm-7">
            <a href="<%= sl2_search_ticket_path(ticket) %>"><%= ticket.item_title %></a>
        </div>
        <div class="col-sm-2  text-center fs-90">
          <small class="font-weight-light text-muted">Callnumber</small><br/>
          <%= ticket.item_callnumber %>
        </div>
        <div class="col-sm-2  text-center fs-90">
          <small class="font-weight-light text-muted ">Last Updated</small><br/>
          <%= ticket.last_updated.strftime("%b %e, %Y") rescue nil%>
        </div>
        <div class="col-sm-1   text-center fs-90">
          <small class="font-weight-light text-muted">ID:   <%= ticket.id %></small><br/>
          <%= check_box_tag "search_ticket_ids[]", ticket.id %>
        </div>
      </div>
    <% end %>
    <div class="row pb-2 mb-0 pt-3 lh-125">
      <div class="col-sm-12 text-right">
        <%= submit_tag "Assign & Start Search Now!", class: "btn btn-sm btn-success"%>
      </div>
    </div>
    <% end %>
  </div>
</div>
