<div class="p-3 bg-white rounded box-shadow">
  <h6 class="border-bottom border-gray pb-2 mb-0">Search Progress and History</h6>
  <div class="container">
    <% if @ticket.work_logs.size == 0 %>
      <div class="row media-body pb-3 mb-0 pt-3 lh-125 border-bottom border-gray">
        <div class="col-sm-12 text-center text-muted p-4">
          We're going to take a look at this Search Ticket soon. As soon as we do, you will see progress reports here.
        </div>
      </div>
    <% end %>

    <% @ticket.work_logs.each_with_index do |log, index| %>
      <div class="row media-body pb-3 mb-0 pt-3 lh-125 border-bottom border-gray">
        <div class="col-sm-1 text-center">
          <span class="d-inline-flex p-2 fwf border rounded-circle bg-primary text-white">
            <%= log.employee.initials %>
          </span>
        </div>
        <div class="col-sm-7">

            <span class="align-middle">
              <% if log.search_areas.size > 0 %>
                <span class="text-muted">Searched: </span>
                <%= log.search_areas.map { |sa| sa.name}.join(", ") %>
              <% else %>
                <%= log.patron_worklog_result_description %></span>
              <% end %>
            <% unless log.note.blank? %>
              <br/><small class="font-weight-light text-muted ">NOTE: <%= log.note %></small>
            <% end %>
            <br/>
        </div>
        <div class="col-sm-2 text-muted text-center fs-80">
          <span class="align-middle">Created On</span><br/>
           <%= log.created_at.strftime("%Y-%m-%d") rescue nil %>
        </div>
        <div class="col-sm-2 text-center" data-search-status="<%= log.result %>">
          <h6 class="mb-0"><span class="badge badge-<%= log.result == SearchTicket::WorkLog::RESULT_FOUND ? "success" : "danger" %>">
            <%= log.result.humanize.capitalize %></span></h6>
          <% if log.result == SearchTicket::WorkLog::RESULT_FOUND %>
            <small class="font-weight-light text-muted "><%= log.found_location %></small>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
