<div class="media text-muted pt-3">
  <div class="media-body pb-3 mb-0 lh-125">

    <% if @ticket.status == SearchTicket::STATUS_ESCALATED_TO_LEVEL_2 %>
    <%= link_to 'Start Search', sl2_start_search_path(search_ticket_ids: @ticket.id), method: :put,
        class: "btn btn-primary btn-sm float-right xd-block"  %>
    <% elsif @ticket.status == SearchTicket::STATUS_SEARCH_IN_PROGRESS %>
      <%= link_to 'Log Search Result', edit_sl2_search_ticket_path(@ticket), method: :put,
        class: "btn btn-success btn-sm float-right xd-block"  %>
    <% end %>

    <h4 class="text-info mb-0">
      <%= @ticket.ticket_status_description[:title] %>
    </h4>
    <span class="d-block mb-1">
      <%= @ticket.ticket_status_description[:description] %>
    </span>

  </div>

</div>

<% another_search =capture do %>
    <p>The search ticket will be sent back to Service Level 2 staff for another search.</p>
    <p align='center'>
      <a href='#' class='btn btn-link'>Request Another Search</a><br/>
      <small>click button again to cancel</small>
    </p>
<% end %>

<% to_acquisitions =capture do %>
    <p>
      The search ticket will be forwared to Acquisitions Department.
      They will make a final decision on whether to repurchase the item or mark it as missing.
    </p>
    <p align='center'>
      <a href='#' class='btn btn-link'>Send To Acquisitions</a><br/>
      <small>click button again to cancel</small>
    </p>
<% end %>

<button class="btn btn-info" data-placement="top" data-html="true" data-toggle="popover"
  data-title="Request Another Search" data-content="<%= another_search.html_safe %>">
  Request Another Search
</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="btn btn-dark" data-placement="top" data-html="true" data-toggle="popover"
  data-title="Request Another Search" data-content="<%= to_acquisitions.html_safe %>">
  Send To Acquisitions
</button>




<div class="popover d-none" role="tooltip" id="send-to-acquisitions">
  <div class="arrow"></div>
  <h3 class="popover-header"></h3>
  <div class="popover-body">
  </div>
</div>
