<h1>Search Escalated Tickets</h1>

<br/>


<table class="table table-xsm">
  <thead class="thead-light">
    <tr>
      <th>Title</th>
      <th>Call Number</th>
      <th>Item ID</th>
      <th>Status</th>
      <th class="text-left">Assigned To</th>
      <th></th>
    </tr>
  </thead>
  <% @tickets.each do |ticket| %>
    <tr>
      <td><%= ticket.item_title %></td>
      <td>
        <%= ticket.item_callnumber %>
      </td>
      <td><%= ticket.item_id %></td>
      <td class="search_ticket_status"><%= ticket.status %></td>
      <td>
        <%= ticket.assigned_to.name if ticket.assigned_to %>
      </td>
      <td>
        <a href="<%= sl1_search_ticket_path(ticket) %>" class="btn btn-sm btn-outline-dark">i</a>
      </td>
    </tr>
  <% end %>
</table>
