

<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h4 class="card-title">Employee</h4>
      </div>
    </div>
  </div>
  <div class="card-body">
<%= simple_form_for([:admin, @employee]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :role, collection: Employee::ROLES %>
    <%= f.input :email %>
    <%= f.input :login_id %>
    <%= f.input :location_id, collection: Location.all %>
    <%= f.input :active %>
  </div>
  <hr/>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-md btn-success" %>
    <%= link_to "Cancel", admin_employees_path, class:"btn btn-danger" %>
  </div>
<% end %>
  <br/>
  </div> <!-- card body close -->
</div> <!-- card close -->