
<div class="p-3 bg-white rounded box-shadow">
  <h5 class="border-bottom border-gray pb-2 mb-0">Tickets Requiring Review
    <span class="bg-status-<%= SearchTicket::STATUS_REVIEW_BY_COORDINATOR %> rounded text-white p-1 fs-70 float-right">
      <%= SearchTicket::STATUS_REVIEW_BY_COORDINATOR.humanize %>
        <span class="badge badge-light" data-under-review-tickets-count="<%= @under_review_tickets.size %>">
          <%= @under_review_tickets.size %>
        </span>
    </span>
  </h5>

  <div class="container">
    <% @under_review_tickets.each do |ticket| %>
      <div class="row pb-3 mb-0 pt-3 lh-125 border-bottom border-gray">
        <div class="col-sm-7">
            <a href="<%= coordinator_search_ticket_path(ticket) %>"><%= ticket.item_title %></a>
        </div>
        <div class="col-sm-2  text-center fs-90">
          <small class="font-weight-light text-muted">Last Searched By</small><br/>
          <%= ticket.last_searched_by %>
        </div>
        <div class="col-sm-2  text-center fs-90">
          <small class="font-weight-light text-muted ">Last Updated</small><br/>
          <%= ticket.last_updated.strftime("%b %e, %Y") rescue nil%>
        </div>
        <div class="col-sm-1   text-center fs-90">
          <small class="font-weight-light text-muted">Searches</small><br/>
          <%= ticket.work_logs.size %>
        </div>
      </div>
    <% end %>
  </div>
</div>
