<% page_title "We've created a Search Ticket For You" %>

<div class="p-3 bg-white rounded box-shadow" data-ticket-id="<%= @ticket.id %>">
  <h3 class="border-bottom border-gray pb-2 mb-0"><%= @ticket.item_title %></h3>
  <div class="container">
    <br/>
    <dl class="row">
      <div class="col">
        <dt class="text-muted font-weight-light">Callnumber</dt>
        <dd><%= @ticket.item_callnumber %></dd>
        <dt class="text-muted font-weight-light">Author:</dt>
        <dd><%= @ticket.item_author %></dd>
        <hr/>
        <dt class="text-muted font-weight-light fs-80">Created On</dt>
        <dd class="fs-90"><%= @ticket.created_at.strftime("%Y-%m-%d") %></dd>
      </div>
      <div class="col">
        <dt class="text-muted font-weight-light">Volume</dt>
        <dd><%= @ticket.item_volume %></dd>
        <dt class="text-muted font-weight-light">Issue</dt>
        <dd><%= @ticket.item_issue %></dd>
        <hr/>
        <dt class="text-muted font-weight-light fs-80">Last Updated</dt>
        <dd class="fs-90"><%= @ticket.created_at.strftime("%Y-%m-%d")%></dd>
      </div>
      <div class="col">
        <dt class="text-muted font-weight-light">Year</dt>
        <dd><%= @ticket.item_year %></dd>
        <dt class="text-muted font-weight-light">Item Location</dt>
        <dd><%= @ticket.location.name %></dd>
        <hr/>
        <dt class="text-muted font-weight-light fs-80">Library Branch</dt>
        <dd class="fs-90"><%= @ticket.location.name %></dd>
      </div>
    </dl> <!-- dl row end -->
  </div>
</div>

<br/>
<%= render partial: "next_steps" %>
