<% page_title "My Tickets" %>


<div class="p-3 bg-white rounded box-shadow">
  <h6 class="border-bottom border-gray pb-2 mb-0">Open Search Tickets</h6>
  <div class="container">

    <% @tickets.each do |ticket| %>
      <div class="row media-body pb-3 mb-0 pt-3 lh-125 border-bottom border-gray">
        <div class="col-sm-7 ticket_item_title">
            <a href="<%= patron_my_ticket_path(ticket) %>"><%= ticket.item_title %></a>
        </div>
        <div class="col-sm-2 ticket_updated_date text-muted text-center">
          <small class="font-weight-light">Last Updated</small><br/>
          <%= ticket.updated_at.strftime("%b %e, %Y") %>
        </div>
        <div class="col-sm-3 ticket_status" data-ticket-status="<%= ticket.status %>">
          <h4 class="mb-0"><span class="badge badge-<%= ticket.status %>">  <%= ticket.status.humanize %></span></h4>
        </div>
      </div>
    <% end %>
  </div>
</div>

<hr/>

<div class="p-3 bg-white rounded box-shadow">
  <h6 class="border-bottom border-gray pb-2 mb-0">Resolved Tickets</h6>
  <div class="container">

    <% @resolved_tickets.each do |ticket| %>
      <div class="row media-body pb-3 mb-0 pt-3 lh-125 border-bottom border-gray">
        <div class="col-sm-7 ticket_item_title">
            <a href="<%= patron_my_ticket_path(ticket) %>"><%= ticket.item_title %></a>
        </div>
        <div class="col-sm-2 ticket_updated_date  text-muted text-center">
          <small class="font-weight-light">Resolved On</small><br/>
          <%= ticket.updated_at.strftime("%b %e, %Y") %>
        </div>
        <div class="col-sm-3 ticket_status" data-ticket-status="<%= ticket.status %>">
          <h4 class="mb-0"><span class="badge badge-resolution-<%= ticket.resolution %>">  <%= ticket.resolution.humanize %></span></h4>
        </div>
      </div>
    <% end %>
  </div>
</div>
