<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= icon("fas", "cog") %>
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdown01">

    <a class="dropdown-item" href="<%=admin_locations_path %>">
      <%= icon("fas", "location-arrow") %>  Locations
    </a>
    <a class="dropdown-item" href="<%=admin_search_areas_path %>">
      <%= icon("fas", "map-marked") %> Search Areas
    </a>

    <a class="dropdown-item" href="<%= admin_employees_path %>">
      <%= icon("fas", "briefcase") %> Employees
    </a>
    <a class="dropdown-item" href="<%= admin_patrons_path %>">
      <%= icon("fas", "user-graduate") %> Patrons
    </a>
    <hr/>
    <a class="dropdown-item" href="<%= admin_search_tickets_path %>">
      <%= icon("fas", "ticket-alt") %> All Search Tickets
    </a>
  </div>
</li>
