<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    SL2</a>
  <div class="dropdown-menu" aria-labelledby="dropdown01">
    <a class="dropdown-item" href="<%= sl2_dashboard_path %>">Dashboard</a>
    <a class="dropdown-item" href="<%= sl1_in_progress_tickets_path %>">Search In Progress Tickets</a>
    <a class="dropdown-item" href="<%= sl1_escalated_tickets_path %>">Escalated Tickets</a>
    <a class="dropdown-item" href="<%= sl1_resolved_tickets_path %>">Resloved Tickets</a>
    <a class="dropdown-item" href="<%= sl1_my_search_tickets_path %>">Assigned Tickets</a>
  </div>
</li>
