<h1>Tickets - Assigned To Me</h1>

<br/>

<table class="table table-xsm">
  <thead class="thead-light">
    <tr>
      <th></th>
      <th>Title</th>
      <th>Call Number</th>
      <th>Item ID</th>
      <th>Status</th>
      <th class="text-left">Assigned To</th>
      <th></th>
    </tr>
  </thead>
  <% @tickets.each do |ticket| %>
    <tr>
      <td><%= check_box_tag "search_ticket_ids[]", ticket.id %> <%= ticket.id %></td>
      <td><%= ticket.item_title %></td>
      <td>
        <%= ticket.item_callnumber %>
      </td>
      <td><%= ticket.item_id %></td>
      <td class="search_ticket_status"><%= ticket.status %></td>
      <td>
          <%= ticket.assigned_to.name %>
      </td>
      <td class="action_buttons">
        <% if ticket.status != SearchTicket::STATUS_RESOLVED %>
          <%= link_to "Record Search Result", edit_sl1_search_ticket_path(ticket), class: "btn btn-sm btn-primary action_button"%>
        <% else %>
          <%= link_to "View Search Result", sl1_search_ticket_path(ticket), class: "btn btn-sm btn-info action_button"%>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to "<- SL1 New Tickets", sl1_new_tickets_path, class: "btn btn-sm btn-link btn-primary" %>

<%= link_to "Print Tickets for Search", print_tickets_to_search_path(ticket_ids: @tickets.ids), class: "btn btn-sm btn-primary" %>

<br/>
<br/>
