<% page_title "Assigned Tickets - #{current_user.name}" %>
<div class="card mb-3">
  <div class="card-header text-white bg-info pt-1 pb-1">
    Assigned To Me <span class="badge badge-light float-right mt-1"><%= @assigned_tickets.size %></span>
  </div>

  <ul class="list-group list-group-flush border border-info">
    <% @assigned_tickets.each do |ticket| %>
    <li class="list-group-item border-info" data-assigned-ticket-id="<%= ticket.id %>">
      <div class="row">
        <div class="col">
          <%= link_to sl1_search_ticket_path(ticket) do %>
            <%= ticket.item_title %>
          <% end %>

          <div class="row">
            <div class="col col-sm-6">
              <small>
                <span class="text-muted font-weight-light d-block d-sm-inline">Call Number:</span>
                <span class=""><%= ticket.item_callnumber %></span>
              </small>
            </div>
            <div class="col">
              <small>
                <span class="text-muted font-weight-light d-block d-sm-inline">Item #:</span>
                <span class=""><%= ticket.item_id %></span>
              </small>
            </div>
          </div>
          <div class="row">
            <div class="col col-sm-6">
              <small>
                <span class="text-muted font-weight-light d-block d-sm-inline">Location:</span>
                <span class=""><%= ticket.item_location %></span>
              </small>
            </div>
            <div class="col">
              <small>
                <span class="text-muted font-weight-light d-block d-sm-inline">Ticket ID:</span>
                <span class=""><%= ticket.id %></span>
              </small>
            </div>


          </div>

        </div>

        <div class="col-sm-2 mt-2">
          <% if ticket.status != SearchTicket::STATUS_RESOLVED %>
            <%= link_to "Log Search Result", edit_sl1_search_ticket_path(ticket), class: "btn btn-block btn-sm btn-primary action_button"%>
          <% else %>
            <%= link_to "View Search Result", sl1_search_ticket_path(ticket), class: "btn btn-block btn-sm btn-info action_button"%>
          <% end %>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
  <div class="card-footer bg-transparent border-info border d-none d-sm-block">    
    <%= link_to "Print Tickets for Search", print_tickets_to_search_path(ticket_ids: @assigned_tickets.ids), target: "_blank",
      class: "btn btn-sm btn-dark" %>
  </div>
</div>
<br/>
