
  <div class="container py-3"  data-ticket-id="<%= ticket.id %>">
    <div class="row">
      <div class="col-md-9">
        <h3 class=" border-bottom border-gray pb-2 mb-2 ellipsis">
          <%= ticket.item_title %>
        </h3>
        <h5 class="text-downcase text-capitalize font-weight-light">Search in <%= ticket.location.name %></h5>

        <!-- Always show primary, secondary for lvl 2 -->
        <div class="row">
          <% SearchArea.primary.where(location_id: ticket.location_id).each do |sa| %>
             <div class="pr-4 col-sm-3 ellipsis">
               <span class="fa fa-square-o fs-120i text-muted" style="border-width: 3px;"></span>
               <span class="fs-110i">&nbsp;<%= sa.name %></span>
             </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-3 mt-3 text-center">
        <img src="https://barcode.library.yorku.ca/?d=<%= ticket.item_id %>" height="90px"/>
      </div>
    </div>

    <% if ticket.work_logs.count > 1 %>
    <div class="py-2 text-muted font-weight-light">Additional Areas to search in: </div>
    <div class="row">
      <% SearchArea.secondary.where(location_id: ticket.location_id).each do |sa| %>
        <div class="pr-4 col-sm-3 ellipsis">
          <span class="fa fa-square-o fs-120i text-muted" style="border-width: 3px;"></span>
          <span class="fs-110i">&nbsp;<%= sa.name %></span>
        </div>
      <% end %>
    </div>
    <% end %>

    <hr/>

    <dl class="row">
      <div class="col-sm-4">
        <dt class="text-muted font-weight-light fs-90">Callnumber</dt>
        <dd class="fs-140"><%= ticket.item_callnumber %></dd>
        <dt class="text-muted font-weight-light fs-90">Vol and Issue:</dt>
        <dd><%= ticket.item_volume %> -- <%= ticket.item_issue %></dd>
      </div>
      <div class="col-sm-4">
        <dt class="text-muted font-weight-light fs-90">Author</dt>
        <dd class="fs-140 ellipsis"><%= ticket.item_author %></dd>
        <dt class="text-muted font-weight-light fs-90">Item ID</dt>
        <dd class="ellipsis"><%= ticket.item_id %></dd>
      </div>
      <div class="col-sm-4 border-left">
        <dt class="text-muted font-weight-light">Found?</dt>
        <dd>
          <span class="fa fa-square-o fs-120i text-muted"></span>
          <span class="fs-120i">&nbsp;YES</span>&nbsp;
          <span class="fa fa-square-o fs-120i text-muted"></span>
          <span class="fs-120i">&nbsp;NO</span>
        </dd>
        <dt class="text-muted font-weight-light">Where</dt>
        <dd></dd>

      </div>
    </dl> <!-- dl row end -->
</div>
