<% page_title "#{@status.humanize} Tickets" %>

<div class="p-3 bg-white rounded box-shadow">
  <h5 class="border-bottom border-gray pb-2 mb-0">
      <%= @status.humanize %> Tickets

    <span class="badge badge-<%= @status %> float-right" data-tickets-count="<%= @tickets.size %>">
      <%= @status.humanize %>: <%= @tickets.size %>
    </span>
  </h5>

  <div class="container">
    <% @tickets.each do |ticket| %>
      <div class="row pb-3 mb-0 pt-3 lh-125 border-bottom border-gray">
        <div class="col-sm-5">
          <%= ticket.id %>: <a href="<%= coordinator_search_ticket_path(ticket) %>"><%= ticket.item_title %></a>
        </div>
        <div class="col-sm-2  text-center fs-90">
          <small class="font-weight-light text-muted">Callnumber</small><br/>
          <%= ticket.item_callnumber %>
        </div>
        <div class="col-sm-5  text-left fs-90">
          <small class="font-weight-light text-muted ">Status</small><br/>
          <%= ticket.ticket_status_description %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<hr/>
