<!-- <h5 class="card-title"><%= @ticket.item_title %></h5>
<h6 class="card-subtitle mb-2 text-muted">Assigned to <%= @ticket.assigned_to_name %> </h6>
<hr/> -->
<dl class="row">
 <dt class="col-sm-2">Item ID</dt>
 <dd class="col-sm-2"><%= @ticket.item_id %></dd>

 <dt class="col-sm-2">Callnumber</dt>
 <dd class="col-sm-2"><%= @ticket.item_callnumber %></dd>

 <dt class="col-sm-2">Item Location</dt>
 <dd class="col-sm-2"><%= @ticket.location_name %></dd>

 <dt class="col-sm-2">Author</dt>
 <dd class="col-sm-2"><%= @ticket.item_author %></dd>

 <dt class="col-sm-2">Volume</dt>
 <dd class="col-sm-2"><%= @ticket.item_volume %></dd>

 <dt class="col-sm-2">Issue</dt>
 <dd class="col-sm-2"><%= @ticket.item_issue %></dd>

 <dt class="col-sm-2">Year</dt>
 <dd class="col-sm-2"><%= @ticket.item_year %></dd>

 <!-- <dt class="col-sm-3">Requested by</dt>
 <dd class="col-sm-3"><%= @ticket.patron_name %></dd>

 <dt class="col-sm-3">Status</dt>
 <dd class="col-sm-3"><%= @ticket.status.humanize.upcase %></dd> -->
</dl>
