<h1>Record Work Log</h1>
<div class="card">
  <div class="card-header">
    Search Ticket Details
    <span class="badge badge-success float-right text-uppercase"><%= @ticket.status.humanize %></span>
  </div>
  <div class="card-body">
     <h5 class="card-title"><%= @ticket.item_title %></h5>
    <h6 class="card-subtitle mb-2 text-muted">Assigned to <%= @ticket.assigned_to_name %> </h6>
    <hr/>
    <dl class="row">
      <dt class="col-sm-3">Callnumber</dt>
      <dd class="col-sm-9"><%= @ticket.item_callnumber %></dd>

      <dt class="col-sm-3">Item ID</dt>
      <dd class="col-sm-9"><%= @ticket.item_id %></dd>

    </dl>

    <hr/>
    <p class="card-text">I have searched the following areas: </p>
    <%= form_for @work_log, url: sl1_search_ticket_path(@ticket), method: :patch do |f| %>
      <ul class="list-inline">
      <% SearchArea.primary.each do |sa| %>
        <li class="list-inline-item">
          <%= check_box_tag "earched_areas[area_ids][]", sa.id, @work_log.searched_area_ids.include?(sa.id), id: dom_id(sa) %>
          <%= label_tag dom_id(sa), sa.name %>
        </li>
      <% end %>
      </ul>

      <div class="form-group row">
        <div class="col-sm-3 card-text">
          Have you found the book?
        </div>
        <div class="col-sm-9">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary btn-sm">
              <%= f.radio_button :result,  SearchTicket::WorkLog::RESULT_FOUND %>
               Yes
            </label>
            <label class="btn btn-secondary btn-sm">
              <%= f.radio_button :result,  SearchTicket::WorkLog::RESULT_NOT_FOUND %>
               No
            </label>
          </div>
        </div>
      </div>


      <div class="form-group row">
        <div class="col-sm-3 card-text">
          If found, where:
        </div>
        <div class="col-sm-9">
          <%= f.text_field :found_location %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3 card-text">
          Anything else to add?
        </div>
        <div class="col-sm-9">
          <%= f.text_area :note %>
        </div>
      </div>
      <% if @work_log.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@work_log.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
    <% @work_log.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
      <%= f.submit "Record Progress", class: "btn btn-success" %>

    <% end %>

  </div>
  <div class="card-footer text-muted">
    Created
    <span class="timeago" title="<%= @ticket.created_at.getutc.iso8601 %>">
       <%= time_ago_in_words @ticket.created_at %> ago by <cite title="Source Title"> <%= @ticket.patron.name %> </cite>
    </span>
  </div>
</div>
