<h1>Record Search Result</h1>
<div class="card">
  <div class="card-header">
    Search Ticket Details
    <span class="badge badge-success float-right text-uppercase"><%= @ticket.status.humanize %></span>
  </div>
  <div class="card-body">
    <%= render partial: "ticket_details" %>
    <hr/>
    <p class="card-text">I have searched the following areas: </p>
    <%= simple_form_for @work_log, url: sl1_search_ticket_path(@ticket), method: :patch do |f| %>
      <div class="invalid-feedback d-block"><%= f.full_error :searched_areas %></div>
      <ul class="list-inline">
      <% SearchArea.primary.each do |sa| %>
        <li class="list-inline-item">
          <%= check_box_tag "search_ticket_work_log[search_area_ids][]", sa.id, @work_log.search_area_ids.include?(sa.id), id: dom_id(sa) %>
          <%= label_tag dom_id(sa), sa.name %>
        </li>
      <% end %>
      </ul>


      <div class="form-group row">
        <div class="col-sm-3 card-text">
          Have you found the book?
        </div>
        <div class="col-sm-9">
            <%= f.input :result,  as: :radio_buttons, label: false, 
              collection: [["Yes ", SearchTicket::WorkLog::RESULT_FOUND], ["No",  SearchTicket::WorkLog::RESULT_NOT_FOUND]]
            %>
        </div>
      </div>


      <div class="form-group row">
        <div class="col-sm-3 card-text">
          If found, where:
        </div>
        <div class="col-sm-9">
          <%= f.input :found_location, label: false %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3 card-text">
          Anything else to add?
        </div>
        <div class="col-sm-9">
          <%= f.input :note, label: false, input_html: { class: "form-control"} %>
        </div>
      </div>

      <%= f.submit "Record Search Result", class: "btn btn-success" %>

    <% end %>

  </div>
  <div class="card-footer text-muted">
    Created
    <span class="timeago" title="<%= @ticket.created_at.getutc.iso8601 %>">
       <%= time_ago_in_words @ticket.created_at %> ago by <cite title="Source Title"> <%= @ticket.patron_name %> </cite>
    </span>
  </div>
</div>
