<% page_title "Search Ticket Details "%>
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-8">
        <h2 class=""><%= @ticket.item_title %></h5>
        <h6 class="text-muted">Assigned to <%= @ticket.assigned_to_name %> </h6>
      </div>
      <div class="col">
        <h2>
          <span class="badge badge-success text-uppercase"><%= @ticket.status.humanize %></span></h2>
        <h6 class="text-muted">Last Updated: <%= @ticket.updated_at.strftime("%a, %b %-d %Y ") %> </h6>
      </div>
    </div>
  </div> <!-- card header close -->

  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= render partial: "patron_details" %></li>

    <li class="list-group-item">
      <%= render partial: "ticket_details" %>
      <img src="<%= @ticket.print_barcode %>"/>
    </li>

    <li class="list-group-item">
      <%= render partial: "#{@ticket.status}_status" %>
    </li>

    <li class="list-group-item"><%= render partial: "search_history" %></li>

  </ul>


  <div class="card-footer text-muted">
    Created
    <span class="timeago" title="<%= @ticket.created_at.getutc.iso8601 %>">
       <%= time_ago_in_words @ticket.created_at %> ago by <cite title="Source Title"> <%= @ticket.patron.name %> </cite>
    </span>
  </div>
</div>
