<div class="card">
  <div class="card-header">
    <span>Search Ticket Details</span>
    <span class="badge badge-success float-right text-uppercase"><%= @ticket.status.humanize %></span>
  </div>
  <div class="card-body">
    <%= render partial: "ticket_details" %>

    <hr/>
    <img src="<%= @ticket.print_barcode %>"/>

    <%= render partial: "#{@ticket.status}_status" %>

    <%= render partial: "search_history" %>


  </div>
  <div class="card-footer text-muted">
    Created
    <span class="timeago" title="<%= @ticket.created_at.getutc.iso8601 %>">
       <%= time_ago_in_words @ticket.created_at %> ago by <cite title="Source Title"> <%= @ticket.patron.name %> </cite>
    </span>
  </div>
</div>
