<h1>Search In Progress Tickets</h1>
<div class="card card border-success mb-3">
  <div class="card-header text-white border-0 bg-success pt-1 pb-1">
    Ticket Details <span class="badge badge-light float-right mt-1"><%= @in_progress_tickets.size %></span>
  </div>
  <ul class="list-group list-group-flush border border-top-0 border-success">
    <% @in_progress_tickets.each do |ticket| %>
    <li class="list-group-item border-success">
      <div class="row">
        <div class="col ">
          <%= link_to sl1_search_ticket_path(ticket) do %>
            <%= ticket.item_title %>
          <% end %>

          <div class="row">
            <div class="col col-md-4 col-sm-6">
              <small>
                <span class="text-muted font-weight-light d-block d-sm-inline">Call Number:</span>
                <span class=""><%= ticket.item_callnumber %></span>
              </small>
            </div>
            <div class="col">
              <small>
                <span class="text-muted font-weight-light d-block d-sm-inline">Item #:</span>
                <span class=""><%= ticket.item_id %></span>
              </small>
            </div>
            <div class="col">
              <small>
                <span class="text-muted font-weight-light d-block d-sm-inline">Assigned To #:</span>
                <% if ticket.assigned_to %>
                  <span class="font-weight-bold"><%= ticket.assigned_to.name if ticket.assigned_to %></span>
                <% else %>
                <% end %>
              </small>
            </div>
          </div>
          <div class="row">
            <div class="col col-md-4 col-sm-6">
              <small>
                <span class="text-muted font-weight-light d-block d-sm-inline">Location:</span>
                <span class=""><%= ticket.item_location %></span>
              </small>
            </div>
            <div class="col">
              <small>
                <span class="text-muted font-weight-light d-block d-sm-inline">Ticket ID:</span>
                <span class=""><%= ticket.id %></span>
              </small>
            </div>
            <!-- <div class="col">
              <small>
                <span class="text-muted font-weight-light d-block d-sm-inline">Ticket Status:</span>
                <span class=""><%= ticket.status %></span>
              </small>
            </div> -->
          </div>

        </div>

        <div class="col-sm-2 mt-2 text-right d-none d-sm-block">
          <a href="<%= sl1_search_ticket_path(ticket) %>" class="btn btn-sm btn-info"><span class="fa fa-eye"></span></a>
        </div>
      </div>
    </li>
    <% end %>
  </ul>

  <div class="card-footer bg-transparent border-success border d-none d-sm-block text-right">
  </div>
</div>

<br/>