<div class="card">
  <div class="card-header">
    Search Request Details
    <span class="badge badge-success float-right text-uppercase"><%= @request.status.humanize %></span>
  </div>
  <div class="card-body">
     <h5 class="card-title"><%= @request.item_title %></h5>
    <h6 class="card-subtitle mb-2 text-muted">Assigned to <%= @request.assigned_to_name %> </h6>
    <hr/>
    <dl class="row">
      <dt class="col-sm-3">Callnumber</dt>
      <dd class="col-sm-9"><%= @request.item_callnumber %></dd>

      <dt class="col-sm-3">Item ID</dt>
      <dd class="col-sm-9"><%= @request.item_id %></dd>

    </dl>

    <hr/>

    <% if @request.search_attempts.size == 0 %>
      No Search Has Been Done:
      <a href="<%= edit_sl1_search_request_path(@request) %>" role="button" class="btn btn-secondary btn-lg btn-block">Record Search Attempt</a>
    <% else %>

    <% end %>

  </div>
  <div class="card-footer text-muted">
    Created
    <span class="timeago" title="<%= @request.created_at.getutc.iso8601 %>">
       <%= time_ago_in_words @request.created_at %> ago by <cite title="Source Title"> <%= @request.patron.name %> </cite>
    </span>
  </div>
</div>
