<% page_title "#{@status.humanize} Tickets" %>

<div class="p-3 bg-white rounded box-shadow">
  <h5 class="border-bottom border-gray pb-2 mb-0">
    <%= @status.humanize %> Tickets

    <span class="bg-status-<%= @status %> rounded text-white p-1 fs-70 float-right">
      <%= @status.humanize %>
        <span class="badge badge-light" data-tickets-count="<%= @tickets.size %>">
          <%= @tickets.size %>
        </span>
    </span>
  </h5>

  <div class="container">
    <% if @tickets.size == 0 %>
      <p class="text-center mt-3">There are no <%= @status.humanize %> tickets in the system currently.</p>
    <% end %>

    <% @tickets.each do |ticket| %>
      <div class="row pb-3 mb-0 pt-3 lh-125 border-bottom border-gray <%= @status %>_tickets_row">
        <div class="col-sm-7">
          <%= ticket.id %>: <a href="<%= sl1_search_ticket_path(ticket) %>"><%= ticket.item_title %></a>
        </div>
        <div class="col-sm-2  text-center fs-90">
          <small class="font-weight-light text-muted">Callnumber</small><br/>
          <%= ticket.item_callnumber %>
        </div>
        <div class="col-sm-3  text-right fs-90">
          <small class="font-weight-light text-muted ">Resolution</small><br/>
          <%= ticket.resolution.humanize rescue nil %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<hr/>
