<div class="card">
  <div class="card-header">
    <span>New Search Tickets</span>
    <span class="badge badge-success float-right text-uppercase"><%= SearchTicket::STATUS_NEW %></span>
  </div>
<%= form_tag sl1_start_search_path, method: :patch do %>
  <table class="table table-sm table-striped">
    <thead class="thead-dark">
      <tr>
        <th></th>
        <th>Book Title</th>
        <th></th>
      </tr>
    </thead>
    <% @new_tickets.each do |ticket| %>
      <tr>
        <td class="text-center"><%= check_box_tag "search_ticket_ids[]", ticket.id %></td>
        <td>
          <%= link_to sl1_search_ticket_path(ticket) do %>
            <%= ticket.item_title %>
          <% end %>
          <br/>
          <small>Call Number: <span class="text-muted"><%= ticket.item_callnumber %></span></small>
        </td>
        <td>
        </td>
      </tr>
    <% end %>
    <tr>
      <td>
      <td colspan="2">
        <br/>
        <%= submit_tag "Assign & Start Search Now!", class: "btn btn-sm btn-primary"%>
      </td>
    <tr>
    <% end %>
  </table>
  <div class="card-footer text-muted">
    Total: <%= @new_tickets.size %>
  </div>
</div>
