<h1>My Search Tickets</h1>

<br/>

<table class="table table-xsm">
  <thead class="thead-light">
    <tr>
      <th></th>
      <th>Title</th>
      <th>Call Number</th>
      <th>Item ID</th>
      <th>Status</th>
      <th class="text-left">Assigned To</th>
      <th></th>
    </tr>
  </thead>
  <% @tickets.each do |ticket| %>
    <tr>
      <td><%= check_box_tag "search_ticket_ids[]", ticket.id %> <%= ticket.id %></td>
      <td><%= ticket.item_title %></td>
      <td>
        <%= ticket.item_callnumber %>
      </td>
      <td><%= ticket.item_id %></td>
      <td><%= ticket.status %></td>
      <td>
          <%= ticket.assigned_to.name %>
      </td>
      <td>
        <a href="#" class="btn btn-sm btn-primary">Log Search Attempt</a>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to "SL1 New Tickets", sl1_new_tickets_path, class: "btn btn-sm btn-link btn-primary" %>

<br/>
<br/>
