<nav class="navbar navbar-expand-md navbar-dark bg-danger fixed-top">
    <div class="container">

    <a class="navbar-brand" href="#"><%= image_tag("book_search_logo_small.png")%></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <ul class="navbar-nav mr-auto">
      <% if current_user.class.name == Employee.to_s %>
        <%= render partial: "layouts/navbars/employee" %>
      <% elsif current_user.class.name == Patron.to_s %>
        <%= render partial: "layouts/navbars/patron" %>
      <% end %>

      <% if Rails.env.development? %>
        <%= render partial: "layouts/navbars/dev" %>
      <% end %>
    </ul>

    <ul class="navbar-nav ml-auto">
      <% if current_user.class.name == Employee.to_s %>
        <%= render partial: "layouts/navbars/search_bar" %>

        <li class="nav-item">
          <a class="nav-link" href="<%= patron_my_tickets_url %>" title="Your Patron Account">
            <%= icon("fas", "user-graduate") %>
          </a>
        </li>

        <% if current_user.role == Employee::ROLE_MANAGER %>
          <%= render partial: "layouts/navbars/admin" %>
        <% end %>
      <% end %>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="user_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="border rounded text-white p-1">
              <%= current_user.initials rescue nil %>
          </span>
        </a>
        <div class="dropdown-menu" aria-labelledby="logout">
          <a class="dropdown-item" href="<%= logout_path%>">Log Out</a>
        </div>
      </li>
    </ul>

  </div>
</nav>
