<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:page_title) ? yield(:page_title) : "Untitled" %> - Book Search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "layouts/navbar"%>



    <main role="main" class="container">
      <div id="app">
        <div class="page-head">
          <%= content_tag :h2, yield(:page_title) if content_for?(:page_title) %>
        </div>

        <% flash.each do |name, msg| %>
          <div class="alert alert-<%= name == "notice" ? "success" : "primary" %>" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= msg %>
          </div>
        <% end %>
        <div class="main-content container-fluid">
          <%= yield %>
        </div>
      </div>
    </main><!-- /.container -->

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Footer content will go here. Something like &copy; 2018. York University Libraries.</span>
      </div>
    </footer>
  </body>
</html>
